/* styles/Modal.module.css */

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: lightblue;
  border-radius: 10%;
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 1s ease, transform 0.8s ease;
  width: 50%;
  height: 50%;
  visibility: hidden;
}

/* Use :global to avoid CSS Modules hashing */
:global(dialog[open]) {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 1s ease;
}

:global(dialog[open])::backdrop {
  opacity: 1;
}
